<div  class="container">
  <div class="container-form">
      <h1>Shopping List </h1>
            <form #frm="ngForm"  class="add-item-form" (ngSubmit)="addItem()">
              <input type="text"
               id="item"
               name="item"
               [(ngModel)]="item"
               placeholder="Enter the item name">
              <button type="submit">Adicionar</button>
            </form>

         <table>
              <thead>
                 <tr>
                    <th>#</th>
                    <th>Item</th>
                    <th></th>
                </tr>
              </thead>

                <tbody>
                    <tr>
                      <td>1</td>
                      <td>Arroz</td>
                      <td><input type="checkbox"></td>
                  </tr>
                  <tr>
                        <td>2</td>
                        <td>morango</td>
                        <td><input type="checkbox"></td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>
