<div  class="container">
  <div class="container-form">
      <h1>Shopping List </h1>
            <form #frm="ngForm"  class="add-item-form" (ngSubmit)="addItem()">
              <input type="text"
               id="item"
               name="item"
               [(ngModel)]="item"
               placeholder="Enter the item name">
              <button type="submit">Submit</button>
              <button type="button" (click)="ItemClean()">Delete list</button>
            </form>

         <table>
              <thead>
                 <tr>
                    <th>#</th>
                    <th>Item</th>
                    <th>Purchased ?</th>
                </tr>
              </thead>

                <tbody>
                 @for (element of list; track element.id ){
                   <tr>
                         <td>{{element.id}}</td>
                         <td>
                              <span [ngClass]="{'itemPurchased' : element.purchased}">
                                {{element.name}}
                              </span>
                          </td>
                         <td><input type="checkbox" (click)="ItemAcquired(element)" [checked]="element.purchased"></td>
                    </tr>
                 }

                 @empty {
                  <tr class="empty">
                      There is no record in the list
                </tr>

                 }
                </tbody>
            </table>
    </div>
</div>
